.navbar{
  margin-bottom:0;
  border:none;
}

.navbar-brand .glyphicon{
  margin-right:6px;
}

@media (min-width:992px) {
  .hero .get-it{
    text-align:center;
    margin-top:80px;
    padding-right:30px;
  }
}

@media (max-width:992px) {
  .hero .get-it{
    text-align:center;
  }
}

@media (max-width:992px) {
  .hero .phone-preview{
    text-align:center;
  }
}

.hero {
	position: relative;
  border:none;

	.validationMsg {
		color: white;
	}

	/* from https://scotch.io/tutorials/how-to-change-a-css-background-images-opacity
	* this gives a way to modify the background image with gradients (for darkening), or
	* translucency.
	*/
	&::before{
		position: absolute;
		display: block;
		content: ' ';
		z-index: 0;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
	  background:
		linear-gradient(
		rgba(0, 0, 0, 0.6),
		rgba(0, 0, 0, 0.6)
		), url(../../images/6329328435_e254836994_b.jpg) no-repeat center;
	  background-size: cover;
	}

	.get-it {
		h1, p{
			color:white;
		  text-shadow:2px 2px 3px rgba(0,0,0,0.3);
		  margin-bottom:40px;
		}
		h1 {
			font-weight: bold;
		}
		.btn{
			margin-left:10px;
		  margin-bottom:10px;
		  text-shadow:none;
		}
	}

	label {
		color: white;
	}


}

.icon-feature{
  text-align:center;
}

.icon-feature .glyphicon{
  font-size:60px;
}

section.features{
  background-color:#369;
  padding:40px 0;
  color:#fff;
}

.features h2{
  color:#fff;
}

.features .icon-features{
  margin-top:15px;
}

.testimonials blockquote{
  text-align:center;
}

section.testimonials{
  margin:50px 15px;
}

.site-footer{
  padding:20px 0;
  text-align:center;
}

@media (min-width:768px) {
  .site-footer h5{
    text-align:left;
  }
}

.site-footer h5{
  color:inherit;
  font-size:20px;
}

.site-footer .social-icons a:hover{
  opacity:1;
}

.site-footer .social-icons a{
  display:inline-block;
  width:32px;
  border:none;
  font-size:20px;
  border-radius:50%;
  margin:4px;
  color:#fff;
  text-align:center;
  background-color:#798FA5;
  height:32px;
  opacity:0.8;
  line-height:32px;
}

@media (min-width:768px) {
  .site-footer .social-icons{
    text-align:right;
  }
}

.signin-label{
  color:white;
  font-size:large;
}

#join-phrase{
  color:white;
}

#signin-button{
  width:100%;
}

.btn-create-event{
  width:100%;
}

.btn-invite-guests{
  width:100%;
}

.table > thead > tr > th{
  vertical-align:top;
}

#userComment{
  width:100%;
}

#oopsLnk{
  margin-top:15px;
  display:block;
}

#passwordRequirements{
	list-style-type: none;
	color: #DDDDDD;
	padding: 0;
	margin-top: 10px;
}

.progress-incomplete{
  color:red;
}

.progress-complete{
  color:#28b62c;
}

.validated {
  input:required:invalid, input:focus:invalid {
		border-left: 5px solid red;
	}

	input:required:valid, input:focus:valid {
		border-left: 5px solid #28b62c;
	}

	.validationMsg {
		height: 1em;
	}
}
